.bg-image {
  background-image: url("https://images.unsplash.com/photo-1577985051167-0d49eec21977?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxpYnJhcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: repeat; 
  background-color: #f5f5f5;
}
p {
  font-size: 20px;
}
.container {
  background-image: url("https://images.unsplash.com/photo-1623031345438-387dd3c45e9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGxpYnJhcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  
}
.nav-link {
  color: white;
}
.container {
  animation: background-animation 10s linear infinite;
}

@keyframes background-animation {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-10%);
  }
}
